/*ALL*/

body {
    background-color: white;
    font-family: JetBrains Mono ExtraBold, sans-serif, Arial Rounded MT Bold;
    margin: 0px;
    font-size: 1.5vw;
}

.title {
    text-align: center;
}

/*HEADER*/

body > header {
    background-color: #125179;
    color: #c56902;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-around;
}

#logo {
    font-family: "Agency FB", "Fredoka one", sans-serif;
    border-radius: 30%;
    text-shadow: 2px 2px 4px #000000;
}

.navbutton {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 12px;
    margin: 10px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav_ul {
    display: flex;
    padding: 0px;

}

/*MAIN*/

body > main article {
    width: 85%;
    margin: auto;
    color: black
}

#main_content {
    display: flex;
    justify-content: space-around;
}

#main_content > div{
    width: 85%;
}


/*FOOTER*/

body > footer {
    background-color: #125179;
}

#github {
    color: white;
    text-decoration: none;
    text-align: center;
}

form {
    text-align: center;
}

body > footer > section {
    display: flex;
}

#footer_ul{
    display: flex;
    list-style: none;
}

#footer_ul > div > li{
    margin: 10px;
}

#footer_ul > div > li > a{
    margin: 10px;
    color: white;
    text-decoration: none;
}