/*ALL*/

body {
    background-color: white;
    font-family: JetBrains Mono ExtraBold, sans-serif, Arial Rounded MT Bold;
    margin: 0px;
    font-size: 1.5vw;
}

.title {
    text-align: center;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c56902;
  transition: all 0.3s ease;

}

::-webkit-scrollbar-thumb:hover {
  background: #161617;
}

/*HEADER*/

body > header {
    height: 10vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
    margin: 0px;
}

#logo {
    font-family: "Agency FB", "Fredoka one", sans-serif;
    justify-content: space-around;
    margin: 1.2vh;
    font-size: 2.25em;
}

#logo > a {
    text-decoration: none;
    color: #c56902;
}

#logo:visited {
    text-decoration: none;
    color: #c56902;
}

.navbutton {
    color: #c56902;
    text-decoration: none;
    display: flex;
    padding: 1.2vh;
    margin: 1vh;
    list-style: none;
}

.navbutton:hover {
    background-color: #c56902;
    color: white;
    transition: 0.3s ease;
}

.nav_ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}

.nav_ul > li {
    margin: 0 1vh;
}


.navbar.sticky {
    background: #125179;
    padding: 1vh 0;
    transition: 0.3s ease;
}

.navbar.sticky #logo a {
    color: #c56902;
}

.navbar.sticky .nav_ul a {
    color: #c56902;
}

.navbar.sticky .navbutton:hover {
    color: white;
}

/*MAIN*/

body > main {
    width: 85%;
    margin: auto;
    color: black;
    justify-content: space-around;
}

#main-content {
    justify-content: space-around;
}

.image-container {
    margin-top: 2vh;
    margin-bottom: 16vh;
}

#main-content .image-container > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content .image-container > ul > li {
    margin: 1vh;
    list-style: none;
}

.report {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 2vh;
    height: auto;
}


/*FOOTER*/

body > footer {
    background-color: #125179;
}

#github {
    color: white;
    text-decoration: none;
    text-align: center;
}

form {
    text-align: center;
}

body > footer > section {
    display: flex;
}

#footer_ul{
    display: flex;
    list-style: none;
}

#footer_ul > div > li{
    margin: 1vh;
}

#footer_ul > div > li > a{
    margin: 1vh;
    color: white;
    text-decoration: none;
}