


/*HEADER*/

.main-header {
    background-color: #125179;
    color: #c56902;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* navbar styling */
nav {
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: "Agency FB", "sans-serif";
}

#logo {
    border-radius: 30%;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
}

nav.sticky {
    background: #c56902;
    padding: 13px 0;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 15px;
}

.navbar .menu a {
    font-size: 22px;
    font-weight: 500;
    color: #c56902;
    transition: all 0.4s ease;
    text-decoration: none;
    display: flex;
    padding: 12px;
    margin: 10px;
}

.navbar .menu a:hover {
    color: white;
}

nav.sticky .menu a {
    color: #FFF;
}

nav.sticky .menu:hover {
    color: #0E2431;
}


/*MAIN*/

body > main article {
    width: 85%;
    margin: auto;
    color: black;
    font-family: "Cormorant", serif; /* unique font */
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}